/*-----------------------------------------------------------------------------------
	    PMB
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

#page-loading-blocs-notifaction{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}

/* Bloc text custom styling */

#bloc-1 h1{
	font-family: Lato;
	font-weight: 700;
	line-height: 40px;
}
#bloc-1 h3{
	font-family: Lato;
	font-weight: 400;
	line-height: 30px;
}
#bloc-3 h3{
	font-family: Lato;
	font-weight: 700;
	line-height: 30px;
}
#bloc-4 h3{
	font-family: Lato;
	font-weight: 700;
	line-height: 30px;
}
#bloc-4 label{
	font-family: Lato;
	font-weight: 400;
}
#bloc-5 h2{
	font-family: Lato;
	font-weight: 700;
}
#bloc-6 h3{
	font-family: Lato;
	font-weight: 700;
	line-height: 30px;
}
#bloc-6 label{
	font-family: Lato;
	font-weight: 400;
}
#bloc-7 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 24px;
}
#bloc-7 h3{
	font-family: Lato;
	font-weight: 700;
	font-size: 20px;
}
#bloc-7 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-8 h4{
	font-family: Lato;
	font-weight: 700;
	line-height: 22px;
}
#bloc-8 h4{
	font-family: Lato;
	font-weight: 700;
}
#bloc-9 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 24px;
}
#bloc-10 h3{
	font-family: Lato;
	font-weight: 700;
}
#bloc-10 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
}
#bloc-11 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 24px;
}
#bloc-11 h3{
	font-family: Lato;
	font-weight: 700;
}
#bloc-11 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-12 h3{
	font-family: Lato;
	font-weight: 700;
}
#bloc-13 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 24px;
}
#fakultas-teknologi-informasi h3{
	font-family: Lato;
	font-weight: 700;
}
#fakultas-teknologi-informasi p{
	font-family: Lato;
	font-weight: 400;
}
#fakultas-ilmu-komunikasi h3{
	font-family: Lato;
	font-weight: 700;
}
#fakultas-ilmu-komunikasi p{
	font-family: Lato;
	font-weight: 400;
}
#fakultas-ekonomi-bisnis h3{
	font-family: Lato;
	font-weight: 700;
}
#fakultas-ekonomi-bisnis p{
	font-family: Lato;
	font-weight: 400;
}
#fakultas-ilmu-sosial-politik h3{
	font-family: Lato;
	font-weight: 700;
}
#fakultas-ilmu-sosial-politik p{
	font-family: Lato;
	font-weight: 400;
}
#fakultas-teknik h3{
	font-family: Lato;
	font-weight: 700;
}
#fakultas-teknik p{
	font-family: Lato;
	font-weight: 400;
}
#pascasarjana h3{
	font-family: Lato;
	font-weight: 700;
}
#pascasarjana p{
	font-family: Lato;
	font-weight: 400;
}
#diploma-3-d3- h3{
	font-family: Lato;
	font-weight: 700;
}
#diploma-3-d3- p{
	font-family: Lato;
	font-weight: 400;
}
#akademi-sekretari h3{
	font-family: Lato;
	font-weight: 700;
}
#akademi-sekretari p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-24 h3{
	font-family: Lato;
	font-weight: 700;
}
#bloc-25 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 24px;
}
#bloc-32 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 20px;
}
#bloc-33 h3{
	font-family: Lato;
	font-weight: 700;
}
#bloc-33 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-35 p{
	font-family: Lato;
	font-weight: 400;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:3px 15px;
	font-size:25px;
	font-weight:normal;
	font-weight:600;
	line-height:44px;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.nav-center .navbar-brand img{
	margin:0;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
	position:relative;
	z-index:2;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:0;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		right:0;
		margin-right:0px;
		margin-top:20px;
	}
.nav-center.mini-nav .navbar-toggle{
	float:none;
	margin: 10px auto 0;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}
.btn-clean{
	border:1px solid rgba(0,0,0,.08);
	border-bottom-color:rgba(0,0,0,.1);
	text-shadow:0 1px 0 rgba(0,0,1,.1);
	box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}
.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}




.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}


/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* Hide Object */
.object-hidden{
	display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1170px;
}
.hero-bloc-text{
	font-size:55px;
}
.hero-bloc-text-sub{
	font-size:36px;
}
.device-bloc-text-vc{
	font-size:50px;
	margin-top:50%;
}
.blocs-blue-button{
	background-color:#4B96DE;
}
.blocs-blue-button:hover{
	background-color:#448BCE;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#ffffff;
}
.bgc-anti-flash-white{
	background-color:#F3F3F3;
}
.bgc-dark-midnight-blue{
	background-color:#003361;
}
.bgc-oxford-blue{
	background-color:#002448;
}

/* Text colour styles */

.tc-white{
	color:#ffffff!important;
}
.tc-army-green{
	color:#47451D!important;
}
.tc-ultramarine-blue{
	color:#536DFE!important;
}
.tc-mikado-yellow{
	color:#FFC107!important;
}
.tc-mountain-meadow{
	color:#38D39F!important;
}
.tc-neon-carrot{
	color:#FF9750!important;
}
.tc-liver{
	color:#515151!important;
}
.tc-dark-midnight-blue{
	color:#003361!important;
}
.tc-bleu-de-france{
	color:#3CABEC!important;
}
.tc-deep-chestnut{
	color:#B24D4D!important;
}

/* Button colour styles */

.btn-white{
	background-color:#ffffff;
	color:rgba(0,0,0,.4)!important;
}
.btn-white:hover{
	background-color:#dedede;
	color:rgba(0,0,0,.4)!important;
}
.btn-dark-midnight-blue{
	background:#003361;
	color:#FFFFFF!important;
}
.btn-dark-midnight-blue:hover{
	background:#00294e!important;
	color:#FFFFFF!important;
}
.btn-bleu-de-france{
	background:#3CABEC;
	color:#FFFFFF!important;
}
.btn-bleu-de-france:hover{
	background:#3089bd!important;
	color:#FFFFFF!important;
}
.btn-ultramarine-blue{
	background:#536DFE;
	color:#FFFFFF!important;
}
.btn-ultramarine-blue:hover{
	background:#4257cb!important;
	color:#FFFFFF!important;
}
.btn-mikado-yellow{
	background:#FFC107;
	color:rgba(0,0,0,.5)!important;
}
.btn-mikado-yellow:hover{
	background:#cc9a06!important;
	color:rgba(0,0,0,.5)!important;
}
.btn-mountain-meadow{
	background:#38D39F;
	color:#FFFFFF!important;
}
.btn-mountain-meadow:hover{
	background:#2da97f!important;
	color:#FFFFFF!important;
}
.btn-neon-carrot{
	background:#FF9750;
	color:#FFFFFF!important;
}
.btn-neon-carrot:hover{
	background:#cc7940!important;
	color:#FFFFFF!important;
}
.btn-liver{
	background:#515151;
	color:#FFFFFF!important;
}
.btn-liver:hover{
	background:#414141!important;
	color:#FFFFFF!important;
}
.btn-deep-chestnut{
	background:#B24D4D;
	color:#FFFFFF!important;
}
.btn-deep-chestnut:hover{
	background:#8e3e3e!important;
	color:#FFFFFF!important;
}
.btn-burgundy{
	background:#870038;
	color:#FFFFFF!important;
}
.btn-burgundy:hover{
	background:#6c002d!important;
	color:#FFFFFF!important;
}
.btn-anti-flash-white{
	background:#F3F3F3;
	color:rgba(0,0,0,.5)!important;
}
.btn-anti-flash-white:hover{
	background:#c2c2c2!important;
	color:rgba(0,0,0,.5)!important;
}
.btn-light-gray{
	background:#CFCFCF;
	color:rgba(0,0,0,.5)!important;
}
.btn-light-gray:hover{
	background:#a6a6a6!important;
	color:rgba(0,0,0,.5)!important;
}

/* Link colour styles */

.ltc-bleu-de-france{
	color:#3CABEC!important;
}
.ltc-bleu-de-france:hover{
	color:#3089bd!important;
}

/* Bloc image backgrounds */

.bg-Background{
	background-image:url("img/Background.png");
}
.bg-Main-Hero-Background{
	background-image:url("img/Main_Hero_Background.jpg");
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 992px) and (min-width: 768px)
{
    .navbar .nav{
		max-width:80%
    }
	.nav-center.navbar .nav{
		max-width:100%
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 991px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p,#disqus_thread{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{   
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;   
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .video-bg-container{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 400px)
{    
    .bloc{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
}
@media (max-width: 767px){
	.bloc-mob-center-text{
	text-align:center;
}
 }

